# Unity3D .gitignore file.

.DS_Store

MyZooPets/Library/AssetImportState

MyZooPets/Library/AssetServerCacheV3

MyZooPets/Library/FailedAssetImports.txt

MyZooPets/Library/ScriptAssemblies

MyZooPets/Library/ScriptMapper

MyZooPets/Library/assetDatabase3

MyZooPets/Library/AssetVersioning.db

MyZooPets/Library/cache

MyZooPets/Library/expandedItems

MyZooPets/Library/metadata

MyZooPets/Library/previews

MyZooPets/Library/guidmapper

MyZooPets/Library/InspectorExpandedItems.asset

MyZooPets/Library/EditorUserBuildSettings.asset

MyZooPets/Library/EditorUserSettings.asset

MyZooPets/Library/ProjectSettings.asset

MyZooPets/ProjectSettings/ProjectSettings.asset

MyZooPets/Temp

MyZooPets/build

*.csproj

*.unityproj

*.pidb

*.sln

*.userprefs

*.sublime-project

*.sublime-workspace