# Unity3D .gitignore file.
.DS_Store
MyZooPets/Library
MyZooPets/Temp
MyZooPets/obj

# fast platform
MyZooPets/LocalCache

*.csproj
*.unityproj
*.pidb
*.sln
*.userprefs
*.sublime-project
*.sublime-workspace
*.suo

MyZooPets/Assets/Editor/mod_pbxproj.pyc
MyZooPets/Assets/Editor/mod_pbxproj.pyc.meta

MyZooPets/Assets/Editor/mod_pbxproj.py
MyZooPets/Assets/Editor/mod_pbxproj.py.meta

MyZooPets/Assets/XML/Resources/Constants/_Critical.xml
