# Unity3D .gitignore file.

.DS_Store

MyZooPets/Library

MyZooPets/Temp

MyZooPets/Assets/-tk2d.asset

MyZooPets/Assets/Resources/tk2d/*

*.csproj

*.unityproj

*.pidb

*.sln

*.userprefs

*.sublime-project

*.sublime-workspace

*.suo